body {
	font-family:Arial;
	font-size:11px;
	width:960px;
}

form {
	padding-top:52px;
}

.dateandtime {
	color:#CD8912;
	font-family:Arial;
	font-size:11px;
	padding-left:10px;
}

#latest {
	padding-top:3px;
}

#content {
	display:grid;
	grid-template-columns: 65% 30%;
	grid-column-gap:25px;
}

#articles {
	padding-top:3px;
	display:grid;
	grid-template-columns: 50% 50%;
	grid-column-gap:10px;
	grid-row-gap:10px;
}

#caption {
	font-size:24px;
	font-family:Arial;
	color:#214368;
}

#headlines {
	display:grid;
	grid-template-columns: 65% 35%;
	grid-column-gaps:10px;
	grid-row-gaps:20px;
}

#highlights {
	display:grid;
	grid-template-columns: 60% 40%;
	grid-column-gaps:10px;
	grid-row-gaps:20px;
	
}

