#block {

	display:inline-block;
	padding: 50px;
	width: 250px;
}

figcaption{

	display:inline-block;

}

img {

	display:inline-block;
}


#text {
	
	color:#6B9089;
	font-weight: bold;
}

